<div class="container mt-4" id="mainContainer">
    <div class="container mt-4" id="searchContainer" data-aos="flip-right">
        <div class="card-header" id="cardHeader">
            <h3 id="myExperience">Search</h3>
            <p id="login-message">
                {{#if loggedIn}}
                You are logged in as {{loggedInUser.username}}
                {{else}}
                Log in to view product prices and ratings.
                {{/if}}
            </p>
        </div>
        <div>
            <form class="mb-4">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="input-group input-group-lg">
                            
                            <input type="search" id="search-field" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Lets find the product">
                          </div>
                    </div>
                </div>
                <div>
                    
                        <div class="container mt-4" id="searchContainer">
                            <form class="mb-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="targetRadios" value="option1">
                                    <label class="form-check-label" for="targetRadios">
                                      Target
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="walmartRadios" value="option2" disabled>
                                    <label class="form-check-label" for="walmartRadios">
                                      Walmart
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="bothRadios" value="option3" disabled>
                                    <label class="form-check-label" for="bothRadios">
                                      Both
                                    </label>
                                  </div>
                            </form>
                        </div>
                        <div>
                            <button class="btn btn-outline-success
                                        my-2
                                        my-sm-0" id="btnSubmit" type="submit">Submit</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>

        <div class="container mt-4" id="search" data-aos="zoom-in-up">
           
            <div class="card-header" id="cardHeader">
                <h3 id="results-Title">This is what we found</h3>
            </div>


            <div class="alert alert-danger" role="alert" id="search-Error">
                Error: Can't search for blank input!! 
            </div>
            <div class="row" id="fullResults" data-aos="zoom-in-up"> 

            </div>
                <template class="col-sm-3" id="fullResults-template" data-aos="zoom-in-up">
                    <div class="card" id="product-cards" data-aos="flip-down">
                        <img class="card-img-top" id="product-img">
                        <div class="card-body" id="cardBody">
                            <h5 class="card-header" id="product-name"> </h5>
                            <ul class="list-group list-group-flush" id="price">
                                <li class="list-group-item" id="sale-price">

                                </li>
                                <li class="list-group-item" id="primary-price">

                                </li>
                                <li class="list-group-item" id="product-rating">

                                </li>

                            </ul>

                        </div>
                        <div class="card-footer">
                        <a class="btn btn-primary" id="product-link">View Product</a>
                        </div>

                    </div>

                </template>
               
        

        </div>
{{#if loggedIn}}
<!-- ADDING JUST TO TEST HOME ROUTES -->
<div id="userInfo" class="container">
    <div class="card">
        <h5 class="card-header">Search History for {{loggedInUser.username}}</h5>
        <!-- added user id number to card -->
        <p class="card-header">(User id number: {{loggedInUser.id}})</p>
        <ul class="list-group list-group-flush">
            {{#if loggedInUser.searches.length}}
                {{#each loggedInUser.searches as |search|}}
                <li class="list-group-item">
                    <p>Product name: {{search.product_name}} on {{search.created_at}}</p>
                </li>
                {{/each}}
            {{else}}
                <li class="list-group-item">
                    <p>No searches yet!</p>
                </li>
            {{/if}}
        </ul>
    </div>
</div>

{{/if}}
<!-- ************************* -->
<script src="/js/storeapi.js"></script>
</main>


